@import '../../../../../../../../App.scss';

.profile__ava {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: rgba(60, 64, 198, 0.7);
  }
  
  .profile__ava__img {
    border-radius: 50%;
    width: 36px;
    width: 36px;
  }
}
