@import "../../../../../../../../../../App.scss";

.labels-popup {
  padding: 12px;
}

.labels-popup__recently .recently__title {
  margin: 8px 0;
  font-size: 12px;
  color: $grey-strong;
}

.labels-popup__add {
  padding: 6px;
  border-top: 0.75px solid $grey-light;

  .add__btn {
    width: 100%;
    font-weight: 700;
    height: 32px;
  }
}
