@import "../../../../../../App.scss";

.note_label {
  display: flex;
  align-items: center;
  border: 1px solid $grey-strong;
  border-radius: 14px;
  font-size: 14px;
  font-weight: 600;
  padding: 2px 4px 2px 10px;
  margin: 0 4px;

  &__text {
    margin-right: 6px;
  }

  i {
    border-radius: 50%;

    &:hover {
      background-color: $grey-light;
    }
  }
}
