@import '../../../App.scss';

.input {
  border: 1.5px solid $grey;
  border-radius: 6px; 
  box-sizing: border-box;
  height: fit-content;
  display: flex;
  font-size: 16px;
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 6px;
    width: 20px;
    height: 20px;
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    width: 100%;
    box-sizing: border-box;
  }

  textarea.input__input {
    min-height: 48px;
  }
}

.input--focus {
  border: 1.5px solid $primary;
}

.input--large {
  height: 36px;
  padding: 8px;
  
  .input__input {
    font-size: 16px;
    height: 32px;
  }
}

.input--medium {
  padding: 6px;
  
  .input__input {
    font-size: 16px;
  }
}