@import "../../../App.scss";

.btn {
  border-radius: 6px;
  display: flex;
  align-items: center;
  width: fit-content;
}

.btn__margin-helper {
  display: flex;
  align-items: center;
  padding: 0 4px;

  i {
    margin-right: 6px;
  }
}

// Size

.btn--large {
  padding: 8px;
}

.btn--medium {
  padding: 6px;
  font-size: 14px;
}

.btn--small {
  padding: 3px;
  font-size: 14px;
}

// Color

.btn--filled--primary {
  background-color: $primary;
  color: #fafafa;
}

.btn--filled--secondary {
  background-color: $grey-light;
  color: $grey-strong;

  &:hover {
    background-color: #eaecef;
  }
}

.btn--text--secondary {
  background: none;
  color: $grey-strong;

  &:hover {
    background-color: $grey-light;
  }
}

.btn--text--primary {
  color: $primary;

  &:hover {
    background-color: $primary-light;
  }
}

// Variant

.btn--text {
  background: none;
}

// Icon

.btn--small {
  i {
    height: 16px;
    width: 16px;
  }
}
