@import '../../../../App.scss';

.sidebar {
  height: 100vh;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  padding: 0 0 14px 8px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  box-sizing: border-box;

  &__header {
    height: 68px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 12px;
    box-sizing: border-box;
  }

  &__actions {
    margin-top: 32px;
  }

  .sidebar__item {
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0;
    padding-left: 12px;

    &__content {
      display: flex;
      align-items: center;
      flex-direction: row;
      overflow: hidden;
      white-space: nowrap;

      i {
        display: flex;
        align-items: center;
      }

      .sidebar__item__text {
        font-weight: 700;
        margin-left: 24px;
        color: $grey;
      }
    }

    .sidebar__item__accent {
      height: 100%;
      width: 4px;
      border-radius: 2px 0 0 2px;
    }

    &:hover {
      background: $grey-light;
      border-radius: 20px 0 0 20px;
    }
  }

  .sidebar__item--active {
    .sidebar__item__text {
      color: $black;
    }

    .sidebar__item__accent {
      background-color: $primary;
    }
  }
}

.sidebar--expand {
  width: 221px;
  transition: width 0.2s ease;
}

.sidebar--collapse {
  width: 60px;
  transition: width 0.2s ease, display 0.2s ease;

  .sidebar__item__accent {
    display: none;
  }
}
