@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

html, 
body, 
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
}

button:focus {
  outline: none !important;
}

a {
  text-decoration: none !important;
  cursor: pointer !important;
  color: inherit !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  border: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

input:focus {
  outline: none;
}
